DEVNET_CHAIN_ID=31337
DEVNET_RPC_URL=http://localhost:8545
DEVNET_ETH_NETWORK=

TESTNET_CHAIN_ID=11155111
TESTNET_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
TESTNET_ETH_NETWORK=
TESTNET_VERIFY_URL=https://api-sepolia.etherscan.io/api

MAINNET_CHAIN_ID=1
MAINNET_RPC_URL=https://mainnet.infura.io/v3/
MAINNET_ETH_NETWORK=
MAINNET_VERIFY_URL=

DEVNET_PRIVATE_KEY=
TESTNET_PRIVATE_KEY=
MAINNET_PRIVATE_KEY=
