DEVNET_CHAIN_ID=31337
DEVNET_RPC_URL=http://localhost:8545
DEVNET_ETH_NETWORK=

# Optimism Sepolia
TESTNET_CHAIN_ID=11155420
TESTNET_RPC_URL=https://sepolia.optimism.io
TESTNET_ETH_NETWORK=
TESTNET_VERIFY_URL=

# Optimism Mainnet
MAINNET_CHAIN_ID=10
MAINNET_RPC_URL=https://optimism-rpc.publicnode.com
MAINNET_ETH_NETWORK=
MAINNET_VERIFY_URL=

DEVNET_PRIVATE_KEY=
TESTNET_PRIVATE_KEY=
MAINNET_PRIVATE_KEY=

